body{
    font-family: 'Mulish', sans-serif;
 
}
header{
   width: 100%;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 57px;
    width: 1170px;
    margin: auto;
}
.nav-content{
    display: flex;
    gap: 16px;

}
.img{
    width: 48px;
height: 56.008px;
padding-top: 32px;
}
.nav-title{
    color: #131318;
font-size: 36px;
font-weight: 800;
}
.span{
    color: #FF5400;
font-size: 36px;
font-weight: 800;
}
.nav-text, ul{
    display: flex;
    gap: 44px;
  align-items: center;
    
}
.nav-text{
    padding-left: 398px;
}
.nav-text, li{
    list-style: none;
    
}
.home{
    color: #FF5400;
text-align: center;
font-size: 18px;
font-weight: 700;
}
.banner{
    text-align: center;
   background-image:url('../Images/Group 13 (1) (1).png') ;
   background-repeat: no-repeat;
   width: 1170px;
   height: 500px;
   flex-shrink: 0;
  margin: auto;
   border-radius: 16px;
   padding-top: 106px;
   
}
.btn-1{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
border: 0;
padding: 16px 74px 16px 15px;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
}
.btn-2{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
padding: 15px 113px 16px 15px;
border: 0;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
}
.btn-3{
    width: 174px;
height: 52px;
    border-radius: 8px;
background: #FFF;
border: 0;
padding: 16px 74px 16px 15px;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
}
.btn-4{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: 0;
padding: 16px 50px 16px 40px;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
}
 .button{
    display: inline-flex;
    padding: 16px;
    display: flex;
    width: 800px;
    margin: auto;
    gap: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
 }
.banner-content{
    color: #FFF;
font-size: 64px;
font-weight: 800;
}
.banner-text{
    color: #FFF;
text-align: center;
width: 676px;
padding-left: 240px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.title{
    display: flex;
    width: 1170px;
    margin: auto;
}
.title-text{
    width: 640px;
    height: 550px;
    padding-right: 50px;
}
.title-content{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.li{
    padding-top: 10px;
}
#id{
   margin-top: 32px;
}
.part-text{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.part-content{
    
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.part-1{
    text-align: center;
}
.part-img{
    background-image: url('../Images/Rectangle 5.png');
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
color: #FFF;
font-size: 28px;
font-weight: 800;
padding: 132px 227px 133px 226px;
margin-right: 20px;
}
.part-img-1{
    background-image: url('../Images/Rectangle 8.png');
    background-repeat: no-repeat;
    width: 573px;
height: 300px;
color: #FFF;
font-size: 28px;
font-weight: 800;
padding: 132px 227px 133px 226px;
margin-right: 20px;
}
.part-img-2{
  background-image: url('../Images/Rectangle 6.png'); 
  background-repeat: no-repeat;
  width: 573px;
height: 300px;
color: #FFF;
font-size: 28px;
font-weight: 800;
padding: 125px 130px 126px 130px; 
}
.part-img-3{
    background-image: url('../Images/Rectangle 7.png');
    background-repeat: no-repeat;
    width: 474px;
height: 286px;
  padding: 125px 137px 126px 137px;
  margin-left: -105px;
  color: #FFF;
font-size: 28px;
font-weight: 800;
}
.part-img-4{
    background-image: url('../Images/Rectangle 9.png');
    background-repeat: no-repeat;
    width: 274px;
height: 286px;
padding: 125px 80px 126px 81px;
margin-left: 20px;
margin-top: 24px;
color: #FFF;
font-size: 28px;
font-weight: 800;
}
.images{
    width: 1170px;
    height: 320px;
    margin: auto;
    display: flex;

}
.imagess{
  display: flex;
    width: 1170px;
    height: 305px;
   margin-top: px;
    margin: auto;
}
.part-5{
    background-image: url('../Images/Rectangle 11.png');
    background-repeat: no-repeat;
    width: 473px;
height: 300px;
flex-shrink: 0;
text-align: center;
padding-top: 132px;
color: #FFF;
font-size: 28px;
font-weight: 800;
}
.part-6{
    background-image: url('../Images/Rectangle 10.png');
    background-repeat: no-repeat;
    width: 673px;
flex-shrink: 0;
text-align: center;
padding-top: 132px;
margin-left: 24px;
color: #FFF;
font-size: 28px;
font-weight: 800;
}
.images-1{
    width: 1170px;
    margin: auto;
    display: flex;
}
.part{
    margin-top: 100px;
}
.section{
    width: 1170px;
    margin: auto;
}
.section-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.section-text{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
margin-left: 268px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.card{
    display: flex;
}
.card-1{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-right: 20px;
}
.card-2{
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05);

}
.card-img{
    padding: 32px 477px 0px 32px;
}
.card-text{
    padding: 0px 0px 0px 32px;
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
}
.card-content{
    width: 486px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-left: 32px;
}
.card-3{
    width: 573px;
margin: auto;
margin-top: 24px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.middle-section{
    width: 1170px;
   background-image: url('../Images/Group 39.png');
   margin: auto;
   height: 500px;
   margin-top: 25px;
   
}
.div{
    width: 1170px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}
.div-content{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
margin-left: 263px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.div-text{
    color: #131318;
    font-size: 40px;

    font-weight: 800; 
}
.middle-card{
margin-left: 535px;
width: 579px;
height: 389px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
padding-left: 50px;
}
.middle{
  display: flex;  
  padding-top: 52px;
}
.middle-card-2{
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-left: 50px;
}
.main-img{
    width: 610px;
height: 424px;
flex-shrink: 0;
border-radius: 16px;
padding-left: 28px;
}
.btn-5{
    width: 210px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
margin-left: 960px;
margin-top: 48px;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
border: 0;
}
.main{
    display: flex;
    width: 1170px;
    margin: auto;
    margin-top: 100px;
}
.main-text{
    width: 448px;
    color: #131318;

font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 60px;
}
.main-content{
    width: 532px; 
}
.li{
    width: 518px;
    color: #131318;
font-size: 16px;
padding-bottom: 16px;
font-weight: 700;
line-height: 26px;
}
.travel-part-1{
    width: 474px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #FF5400;
}
.travel{
    display: flex;
    width: 1170px;
    margin: auto;
    margin-top: 113px;
}
.travel-text{
    color: #131318;
font-size: 24px;
font-weight: 800;
padding: 40px 0px 0px 40px;
}
.travel-content{
    width: 350px;
    padding-left: 40px;
}
.input{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
border: 0;
font-size: 16px;
margin-left: 40px;
margin-bottom: 16px;
font-weight: 400;
}
.btn-6{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
border: 0;
margin-left: 40px;
text-align: center;
font-size: 20px;
font-weight: 800;
}
.travel-part-2{
    background-image: url('../Images/Rectangle 8 (1).png'); 
    width: 672px;
height: 422px;
flex-shrink: 0;
margin-left: 24px;
}
.travel-part-2-text{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
color: #FFF;
text-align: center;
margin-left: 327px;
margin-top: 200px;
font-size: 24px;
font-weight: 400;
}
.footer{
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
    background: rgba(19, 19, 24, 0.05);
    margin: auto;
    margin-top: 100px;
}
.nav-content-1{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.footer-text{
    width: 769px;
    color: #5A5A5D;

text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding-top: 5px;
padding-left: 335px;
}
.footer-img{
   padding-left: 633px;
   padding-top: 33px;
}
.finish{
    padding-left: 624px;
    padding-top: 60px;
}
@media screen and (max-width:576px) {
    .title{
        flex-direction: column;
       width: 35px;
       padding: 20px;
    }
}
